@model Blog
@{
    ViewData["Title"] = "BlogEdit";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}



<h1>Blog Düzenleme Sayfası</h1><br />
@using(Html.BeginForm("BlogEdit","Blog",FormMethod.Post))
{
    @Html.Label("Blog")
    @Html.TextBoxFor(x=>x.BlogID,new {@class="form-control"})
    <br />
    @Html.Label("Blog Başlığı:")
    @Html.TextBoxFor(x=>x.BlogTitle,new {@class="form-control"})<br />
    @Html.Label("Blog Thubnail Url:")
    @Html.TextBoxFor(x=>x.BlogThumbnailImage,new {@class="form-control"})
    <br />
    @Html.Label("Blog Görseli:")
    @Html.TextBoxFor(x=>x.BlogImage,new {@class="form-control"})
    <br />
    @Html.Label("Blog Kategorisi:")
    @Html.DropDownListFor(x=>x.CategoryID,(List<SelectListItem>)ViewBag.categorysV,new {@class="form-control"}) <br />   
    @Html.Label("Blog İçeriği:")
    @Html.TextAreaFor(x=>x.BlogContent,10,3,new {@class="form-control"})
    <br />
    @Html.Label("Blog Tarihi:")
    @Html.TextBoxFor(x=>x.BlogCreateDate,new {@class="form-control"})
    <br />
    <button class="btn btn-primary">Güncelle</button>
}