@model UserUpdateViewModel
@{
    ViewData["Title"] = "WriterEditsProfile";
    Layout = "~/Views/Shared/WriterLayout.cshtml";

}

<h1 >WriterEditsProfile</h1>
@using (Html.BeginForm("WriterEditsProfile", "Writer", FormMethod.Post))
{

    <div class="col-12 grid-margin stretch-card">
        <div class="card col-12">
            <div class="card-body">
                <h4 class="card-title">Yazar Profil Bilgileri Güncelleme</h4>
                <form class="forms-sample">
                    <div class="form-group">
                        <label for="exampleInputEmail3">Ad Soyad</label>
                       <input type="text" class="form-control" id="exampleInputName1" asp-for="@Model.NameSurname" placeholder="Name">
                        @Html.ValidationMessageFor(x=>x.NameSurname)

                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Kullanıcı Adı</label>
                        <input type="text" class="form-control" id="exampleInputName1" asp-for="@Model.UserName" placeholder="Name">
                    </div>
                    
                    <div class="form-group">
                        <label for="exampleInputEmail3">Mail Adresi</label>
                        <input type="text" class="form-control" id="exampleInputName1" asp-for="@Model.Mail" placeholder="Name">
                    @Html.ValidationMessageFor(x=>x.Mail)

                    </div>
                    @Html.CheckBoxFor(x=>x.changePassword,new { @class = "form-group" })
                    <label for="changePassword">Şifrenizi Değiştirmek İstiyormusunuz?</label>

                    <div class="form-group">
                        <label for="exampleInputName1">Yeni Şifre</label>
                        <input type="text" class="form-control" id="password" asp-for="@Model.Password" placeholder="Şifre Giriniz">
                    </div>
                   <div class="form-group">
                       <label >Resim Yolu</label>
                       <input type="text" asp-for="@Model.ImageUrl" class="form-control">
                   </div>

                    <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
                    <button class="btn btn-light" id="btn1" href="/Dasboard/Index/">İptal</button>
                </form>
            </div>
        </div>
    </div>

}

